<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>404 Not Found</title>


    <link href="../static/404.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <img src="https://media.giphy.com/media/fKk2I5iiWGN0I/giphy.gif">
        <h1>404 Not Found</h1>
        <p>Sorry, we can't find the page you're looking for 🤷🏽‍♂️</p>
        <a class="btn btn-lg btn-success" href="{{ url_for('index') }}" role="button"><i class="fa fa-home"></i> Home</a>
      </div>

    </div>
  </body>
</html>
