{% extends "base.html" %}
{% set active_page = "available" %}

{% block title %}
Available
{% endblock %}

{% block content %}

<div class="row">
{% for user in available %}
  <div class="media my-2 col-xl-3 col-lg-4 col-md-6">
    <img class="d-flex mr-3" src="/static/img/users/{{ user.imgpath }}" width="64" height="64" alt="{{ user.first_name }} {{ user.last_name }}">


      <div class="media-body">
        <h5 class="mt-0">{{ user.first_name }} {{ user.last_name }}</h5>
        <a class="btn btn-outline-primary" href="{{ url_for('user', username=user.username) }}">Contact</a>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{ user.first_name }}">Open Modal</button>
      </div>
  </div>


  <!-- Modal -->
  <div id="{{ user.first_name }}" class="modal fade" role="dialog">

    <form action="/sendMeetUpRequest" method="POST">
      <div class="container">
        <div class="form-group">
          <label for="description">Meet-up Details:</label>
          <input type="textarea" class="form-control" id="description">
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="form-group">
          <label for="time">Time:</label>
          <input type="time" class="form-control" id="time">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
  </form>
  </div>
{% endfor %}
</div>

{% endblock %}
