{% extends "base.html" %}
{% set active_page = "available" %}

<!--{% block title %}
Available
{% endblock %}-->

{% block content %}

{% for user in available %}
    <div class="media my-2 col-xl-3 col-lg-4 col-md-6">
        <a href="{{ url_for('user', username=user.username) }}">
            <img class="d-flex mr-3" src="/static/img/users/{{ user.imgpath }}" width="64" height="64" alt="{{ user.first_name }} {{ user.last_name }}">
        </a>

        <div class="media-body">
            <a href="{{ url_for('user', username=user.username) }}" style="color:black">
                <h5 class="mt-0">{{ user.first_name }} {{ user.last_name }}</h5>
            </a>
            {% set contact_redirect="available" %}
            {% include "contact_button.html" %}
        </div>
    </div>
{% endfor %}

{% endblock %}
