{% extends "base.html" %}
{% set active_page = "available" %}

{% block title %}
Available
{% endblock %}

{% block content %}

<div class="row">
{% for user in available %}
  <div class="media my-2 col-xl-3 col-lg-4 col-md-6">
    <a href="{{ url_for('user', username=user.username) }}">
      <img class="d-flex mr-3" src="/static/img/users/{{ user.imgpath }}" width="64" height="64" alt="{{ user.first_name }} {{ user.last_name }}">
    </a>


    <div class="media-body">
      <a href="{{ url_for('user', username=user.username) }}" style="color:black">
        <h5 class="mt-0">{{ user.first_name }} {{ user.last_name }}</h5>
      </a>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#contactModal">Contact</button>

      <!-- Modal -->
      <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="contactLabel">Request a meet up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/sendMeetUpRequest" id="form-contact" class="form-contact" method="POST">
              <input type="hidden" name="userId" value="{{user.user_id}}">
              <div class="modal-body">
                <div class="form-group">
                  <label for="description" class="form-control-label">Description</label>
                  <textarea name="description" type="textarea" id="description" class="form-control" placeholder="Meet up details" autofocus required></textarea>
                </div>
                <div class="form-group">
                  <label for="date" class="form-control-label">Date e.g. 2017-09-26</label>
                  <input name="date" type="date" id="date" class="form-control" placeholder="Date" autofocus required>
                </div>
                <div class="form-group">
                  <label for="time" class="form-control-label">Time e.g. 09:00:PM</label>
                  <input name="time" type="time" id="time" class="form-control" placeholder="Time e.g. 09:00:PM" autofocus required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="create" class="btn btn-primary" type="submit">Send request</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

{% endfor %}
</div>

{% endblock %}
