{% set current_user = logged_in_user.username %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/custom.css">

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>



    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          uniManage
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_page == 'available' %} active {% endif %}">
              <a class="nav-link" href="{{ url_for('available') }}">Available</a>
            </li>
            <li class="nav-item {% if active_page == 'todo' %} active {% endif %}">
              <a class="nav-link" href="{{ url_for('todo') }}">To Do</a>
            </li>
            <li class="nav-item {% if active_page == 'events' %} active {% endif %}">
              <a class="nav-link" href="{{ url_for('events') }}">Events</a>
            </li>
          </ul>





          <ul class="navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Friend Requests <span class="badge badge-secondary">{{friends_notifications|length}}</span></a>
              <ul class="dropdown-menu notify-drop">
                <div class="notify-drop-title">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">Friend Requests <span class="badge badge-secondary">{{friends_notifications|length}}</span></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
                    </div>
                </div>
                <!-- end notify title -->
                <!-- notify content -->

                <div class="drop-content">
                  {%for fn in friends_notifications%}
                    <!-- if we were the sender then that means someone has accepted our request, we put that shit in as well-->
                    {%if fn.from_id == logged_in_user.user_id%}
                      {%if fn.status == "ACCEPTED"%}
                        <li>
                            <div class="col-md-12 col-sm-12 col-xs-12 pd-15">
                              <a style="padding-left:15px;" href="">{{receiver_dict[fn.to_id].first_name}}</a> has ACCEPTED your request!<a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                              <p style="padding-left:15px;"><b>Date</b>: {{fn.date}}</p>

                            </div>
                        </li>
                      {%endif%}
                    {%else%}
                      <li>
                          <div class="col-md-12 col-sm-12 col-xs-12 pd-15">
                            <a style="padding-left:15px;" href="">{{sender_dict[fn.from_id].first_name}}</a> has sent a friend request <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                            <p style="padding-left:15px;"><b>Message</b>: {{fn.message}}</p>
                            <p style="padding-left:15px;"><b>Date</b>: {{fn.date}}</p>
                            <a style="align:right; padding-left:15px;" href="/acceptFriendRequest?userId={{fn.from_id}}">Accept</a>
                            <a style="align:right; padding-left:15px;" href="/rejectFriendRequest?userId={{fn.from_id}}">Reject</a>
                          </div>
                      </li>
                    {%endif%}
                  {%endfor%}
                </div>
                <div class="notify-drop-footer text-center">
                    <a href=""><i class="fa fa-eye"></i> Your friend requests</a>
                </div>

              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge badge-secondary">{{notifications|length}}</span></a>
              <ul class="dropdown-menu notify-drop">
                <div class="notify-drop-title">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">Notifications <span class="badge badge-secondary">{{notifications|length}}</span></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
                    </div>
                </div>
                <!-- end notify title -->
                <!-- notify content -->

                <div class="drop-content">
                  {%for notif in notifications%}
                    <!-- if we were the sender then that means someone has accepted our request, we put that shit in as well-->
                    {%if notif.from_id == logged_in_user.user_id%}
                      {%if notif.status == "ACCEPTED"%}
                        <li>
                            <div class="col-md-12 col-sm-12 col-xs-12 pd-15">
                              <a style="padding-left:15px;" href="">{{receiver_dict[notif.to_id].first_name}}</a> has ACCEPTED your request!<a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                              <p style="padding-left:15px;"><b>Your description</b>: {{notif.description}}</p>
                              <p style="padding-left:15px;"><b>Your proposed date/time</b>: {{notif.date}}</p>

                            </div>
                        </li>
                      {%else%}
                        <li>
                            <div class="col-md-12 col-sm-12 col-xs-12 pd-15">
                              <a style="padding-left:15px;" href="">{{receiver_dict[notif.to_id].first_name}}</a> has REJECTED your request! <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                              <p style="padding-left:15px;"><b>Your description</b>: {{notif.description}}</p>
                              <p style="padding-left:15px;"><b>Your proposed date/time</b>: {{notif.date}}</p>
                            </div>
                        </li>
                      {%endif%}
                    {%else%}
                      <li>
                          <div class="col-md-12 col-sm-12 col-xs-12 pd-15">
                            <a style="padding-left:15px;" href="">{{sender_dict[notif.from_id].first_name}}</a> has requested a meet up <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                            <p style="padding-left:15px;"><b>Description</b>: {{notif.description}}</p>
                            <p style="padding-left:15px;"><b>Date/Time</b>: {{notif.date}}</p>
                            <a style="align:right; padding-left:15px;" href="/acceptMeetUpRequest?userId={{notif.from_id}}">Accept</a>
                            <a style="align:right; padding-left:15px;" href="/rejectMeetUpRequest?userId={{notif.from_id}}">Reject</a>
                          </div>
                      </li>
                    {%endif%}
                  {%endfor%}
                </div>
                <div class="notify-drop-footer text-center">
                    <a href=""><i class="fa fa-eye"></i> Your Notifications</a>
                </div>

              </ul>
            </li>

            <form action="/search" id="form-search" class="form-inline" method="GET">
                  <input name="q" type="text" id="search" class="form-control" placeholder="Search users" title="Search" autofocus>
                  <input type="submit" style="display: none"/>
            </form>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/img/users/{{ logged_in_user.imgpath }}" width="30" height="30" alt="">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('user', username=current_user) }}"><i class="fa fa-user fa-fw"></i> Profile</a>
                <a class="dropdown-item" href="{{ url_for('settings')}}"><i class="fa fa-cog fa-fw"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign out</a>
              </div>
            </li>
          </ul>



        </div>
      </div>
    </nav>


    <div class="container">
      <div class="page-header">
        <h1>{{ self.title() }}</h1>
      </div>
      {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
