<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link href="../static/created.css" rel="stylesheet">
</head>
<body>
 <div class="jumbotron">
      <div class="container">
      <br>
        <h2>Your Account<small> has been activated</small></h2>
        <p>You can now Login!</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Back to Login</a>
        </p>
      </div>
    </div>
</body>