{% extends "base.html" %}
{% set active_page = "recommended" %}

{% block title %}
Recommended Friends
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
<link href="../static/friends.css" rel="stylesheet">
<table id='recctable' class="table">
  <thead class="">
    <tr>
      <th width="25%">Name</th>
      <th width="65%">Mutual</th>
      <th width="10%">Contact</th>
    </tr>
  </thead>
  <tbody>
    {% for id in recommended %}
    <tr>
      <td>
          <div class="container">
              <a class="nounderline" href="{{ url_for('user', username=user_dict[id].username) }}">
                  <img class="" src="/static/img/users/{{user_dict[id].imgpath}}" width="64" height="64" alt="{{user_dict[id].first_name}}">
              </a>
              <a href="{{ url_for('user', username=user_dict[id].username) }}" style="color:black">
                <span class="my-2 col-xl-3 col-lg-4 col-md-6">{{user_dict[id].first_name}}</span>
              </a>
          </div>
      </td>
      <td class="align-middle">
          Courses:
          {% if recommended_by_course[id]|length > 0 %}
            {%for course in recommended_by_course[id]%}
              <a href="/course/{{course}}">{{course}}</a>
            {%endfor%}
          {% else %}
            None
          {% endif %}
          <br>
          Mutual Friends:
          {% if recommended_by_friend[id]|length > 0 %}
            {%for friend in recommended_by_friend[id]%}
              <a href="/user/{{friend}}">{{friend}}</a>
            {%endfor%}
          {% else %}
            None
          {% endif %}
      </td>
      <td class="align-middle">
          {% set user=user_dict[id] %}
          {% set contact_redirect="show_recommended" %}
          {% include 'contact_button.html' %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#recctable').DataTable({
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search...",
                    emptyTable: "No friends"
                }
            });
        });

    </script>
{% endblock %}
