{% extends "base.html" %}
{% block title %}
Settings
{% endblock %}

{% block content %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
 <div class="form-group">

  {% if error_message %}
  <div class="alert alert-danger">{{error_message}}</div>
  {% endif %}

  <form action="/settings" method="POST">
    <strong>Profile Information</strong></br>
    <div class="form-group">
      <label for="status">Status:</label>
      <select class="form-control" name="input-status">
          <option {% if utils.is_auto_update(logged_in_user) %}selected{% endif %}   >Automatic</option>
        {% for status in statuses %}
          <option {% if not utils.is_auto_update(logged_in_user) and logged_in_user.status == status %}selected{% endif %}   >{{status}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">First Name:</label>
        <input name="input-firstname" type="text" id="input-firstname" class="form-control" value="{{logged_in_user.first_name}}">
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last Name:</label>
        <input name="input-lastname" type="text" id="input-lastname" class="form-control" value="{{logged_in_user.last_name}}">
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Gender:</label>
      <input name="input-gender" type="text" id="input-gender" class="form-control" value="{{logged_in_user.gender}}">
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input name="input-dob" type="text" id="input-dob" class="form-control" value="{{logged_in_user.dob}}">
    </div>
    <div class="form-group">
      <label for="degree">Degree:</label>
      <input name="input-degree" type="text" id="input-degree" class="form-control" value="{{logged_in_user.degree}}">
    </div>
    </br>
    <strong>Privacy Settings</strong></br>
    Set what people who aren't your friends can see.</br>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="True" name="privacy-email" id="privacy-email" {% if utils.is_private(logged_in_user, 'email') %}checked{% endif %} data-toggle="toggle" data-size="mini" data-on="Friends-Only" data-off="Public" data-onstyle="warning" data-offstyle="primary">
        Email
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="True" name="privacy-gender" id="privacy-gender" {% if utils.is_private(logged_in_user, 'gender') %}checked{% endif %} data-toggle="toggle" data-size="mini" data-on="Friends-Only" data-off="Public" data-onstyle="warning" data-offstyle="primary">
        Gender
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="True" name="privacy-dob" id="privacy-dob" {% if utils.is_private(logged_in_user, 'dob') %}checked{% endif %} data-toggle="toggle" data-size="mini" data-on="Friends-Only" data-off="Public" data-onstyle="warning" data-offstyle="primary">
        DOB
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="True" name="privacy-degree" id="privacy-degree" {% if utils.is_private(logged_in_user, 'degree') %}checked{% endif %} data-toggle="toggle" data-size="mini" data-on="Friends-Only" data-off="Public" data-onstyle="warning" data-offstyle="primary">
        Degree
      </label>
    </div>


    </br>
    <strong>Account Information</strong></br>
    <div class="form-group">
      <label for="username">Username:</label>
      <input name="input-username" type="text" id="input-username" class="form-control" value="{{logged_in_user.username}}">
    </div>
    <div class="form-group">
      <label for="password">Old Password</label>
      <input name="input-old-password" type="password" id="input-old-password" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">New Password</label>
      <input name="input-new-password" type="password" id="input-new-password" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="input-email" type="email" id="input-email" class="form-control" value="{{logged_in_user.email}}">
    </div>
    </br>
    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-edit fa-fw"></i>Edit Settings</button>
  </form>
  <button type="button" onclick="location.href='javascript:delete_acc()';" class="btn btn-danger float-left"><i class="fa fa-trash-o fa-fw"></i>Delete Account</button>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        //Gives confirmation to deleting account
        function delete_acc(input) {
            if (confirm('Are you sure you want to delete your account?\n(This cannot be reversed)')) {
                document.location = "settings/delete_account?confirm=1";
            }
        }
    </script>
{% endblock %}
