{% extends "base.html" %}
{% block title %}
Settings
{% endblock %}

{% block content %}
 <div class="form-group">
  
    {% if error_message %}
    <div class="alert alert-danger">{{error_message}}</div>
    {% endif %}
 
  <form action="/settings" method="POST">
    <strong>Profile Information</strong></br>
    <label for="input-status">Status:</label>
    <select class="form-control" name="input-status">
        {% for status in statuses %}
            {% if status == logged_in_user.status %}
                <option selected>
            {% else %}
                <option>
            {% endif %}
            {{status}}</option>
        {% endfor %}
    </select>
    <label for="input-firstname">First Name:</label>
    <input name="input-firstname" type="text" id="input-firstname" class="form-control" value="{{logged_in_user.first_name}}">
    <label for="input-lastname">Last Name:</label>
    <input name="input-lastname" type="text" id="input-lastname" class="form-control" value="{{logged_in_user.last_name}}">

    <label for="input-gender">Gender:</label>
    <input name="input-gender" type="text" id="input-gender" class="form-control" value="{{logged_in_user.gender}}">
    <label for="input-dob">Date of Birth:</label>
    <input name="input-dob" type="text" id="input-dob" class="form-control" value="{{logged_in_user.dob}}">
    <label for="input-degree">Degree:</label>
    <input name="input-degree" type="text" id="input-degree" class="form-control" value="{{logged_in_user.degree}}">
    </br>
    <strong>Account Information</strong></br>
    <label for="input-username">Username:</label>
    <input name="input-username" type="text" id="input-username" class="form-control" value="{{logged_in_user.username}}">
    <label for="input-password">Old Password</label>
    <input name="input-old-password" type="password" id="input-old-password" class="form-control" required>
    <label for="input-password">New Password</label>
    <input name="input-new-password" type="password" id="input-new-password" class="form-control">
    <label for="input-email">Email</label>
    <input name="input-email" type="email" id="input-email" class="form-control" value="{{logged_in_user.email}}">
    </br>
    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-edit fa-fw"></i>Edit Settings</button>
  </form>
</div> 
{% endblock %}
