<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>uniManage Sign In</title>


    <!-- Custom styles for this template -->
    <link href="../static/signin.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <section class="login-block">
        <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login Now</h2>
               {%if error_message%}
                  <div class="alert alert-danger">
                    <strong>Login error</strong> {{error_message}}
                  </div>
                {%endif%}
                <form class="login-form" action="/login" method="POST">
                <div class="form-group">
                  <label for="inputUserEmail" class="text-uppercase">Username</label>
                  <input id="inputUserEmail" type="text" name="inputUserEmail" class="form-control" placeholder="" required>

                </div>
                <div class="form-group">
                  <label for="inputPassword" class="text-uppercase">Password</label>
                  <input id="inputPassword" type="password" name="inputPassword" class="form-control" placeholder="" required>
                </div>


                  <div class="form-check">
                    <button type="submit" class="btn btn-primary float-right">Login</button>
                  </div>

              </form>
              <a href="/registerPage">Register</a>
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
                      <div class="carousel-caption d-none d-md-block">
                        <div class="banner-text">
                            <h2>UniManage</h2>
                            <p>A place where managing your time with friends and work is made simple!</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </body>
</html>
