{% extends "base.html" %}
{% set active_page = "todo" %}

{% block title %}
To Do
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">


<!-- AJAX success panel -->
<div id="success" class="alert alert-success alert-dismissible fade in show" role="alert" style="display: none;">
  <button type="button" class="close" data-hide="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Successfully updated!</strong>
</div>

<!-- AJAX error panel -->
<div id="failure" class="alert alert-danger alert-dismissible fade in show" role="alert" style="display: none;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Failed to update!</strong>
</div>


<table id='todotable' class="table table-striped table-hover">
  <thead class="thead">
    <tr>
      <th width="20%">Task</th>
      <th width="19%">Subject</th>
      <th width="40%">Text</th>
      <th width="15%">Due</th>
      <th width="5%">Priority</th>
      <th width="1%"></th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
        {% if task.priority == 0 %}
            <tr>
        {% endif %}
        {% if task.priority == 1 %}
            <tr>
        {% endif %}
        {% if task.priority == 2 %}
            <tr class="table-info">
        {% endif %}
        {% if task.priority == 3 %}
            <tr class="table-warning">
        {% endif %}
              <td>{{ task.name }}</td>
              <td>{{ task.subject }}</td>
              <td>{{ task.text }}</td>
              <td>{{ task.date }}</td>
              <td data-order="{{ task.priority }}">
                  <select id="{{ task.id }}">
                      <option {% if task.priority == 0 %} selected {% endif %} value="0">0</option>
                      <option {% if task.priority == 1 %} selected {% endif %} value="1">1</option>
                      <option {% if task.priority == 2 %} selected {% endif %} value="2">2</option>
                      <option {% if task.priority == 3 %} selected {% endif %} value="3">3</option>
                  </select>
              </td>
              <td><a href="/todo/delete/{{ task.id }}"><i class="fa fa-times"></i></a></td>
            </tr>
    {% endfor %}
  </tbody>
</table>


<!-- Button trigger modal -->
<div class="p-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodo"><i class="fa fa-plus fa-fw"></i>
      Add new todo
    </button>
    <button id="update" type="button" class="btn btn-primary float-right"><i class="fa fa-pencil-square-o fa-fw"></i>
      Update todos
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="addTodo" tabindex="-1" role="dialog" aria-labelledby="addTodoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTodoLabel">Add new item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/todo/create" id="form-todo" class="form-todo" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="title" class="form-control-label">Title</label>
            <input name="title" type="text" id="title" class="form-control" placeholder="Title" autofocus required>
          </div>
          <div class="form-group">
            <label for="course" class="form-control-label">Course</label>
            <input name="course" type="text" id="course" class="form-control" placeholder="Course" autofocus required>
          </div>
          <div class="form-group">
            <label for="description" class="form-control-label">Description</label>
            <input name="description" type="text" id="description" class="form-control" placeholder="Description" autofocus required>
          </div>
          <div class="form-group">
            <label for="date" class="form-control-label">Due Date</label>
            <input name="date" type="date" id="date" class="form-control" autofocus required>
          </div>
          <div class="form-group">
            <label for="time" class="form-control-label">Due Time</label>
            <input name="time" type="time" id="time" class="form-control" autofocus required>
          </div>
          <div class="form-group">
            <label for="priority" class="form-control-label">Priority</label>
            <select name="priority" id="priority" class="form-control" size="1" autofocus required>
                <option value="0">No Priority</option>
                <option value="1">Low Priority</option>
                <option value="2">Moderate Priority</option>
                <option value="3">High Priority</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="create" class="btn btn-primary" type="submit">Add item</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="static/todo.js"></script>
{% endblock %}
