{% extends "base.html" %}
{% set active_page = "profile" %}

{% block title %}
{{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}

<div class="profile">
  <div class="row">
    <div class="col-sm-3 text-center">
      <img class="img-fluid" src="/static/img/users/{{ user.imgpath }}" width="200" height="200" alt="{{ user.first_name }} {{ user.last_name }}">
    </div>
    <div class="col-sm-9">
      {% if current_user == user.username %} <a href="{{ url_for('settings') }}" class="btn btn-primary float-right"><i class="fa fa-edit fa-fw"></i> Edit</a> {% endif %}
      {% if current_user != user.username %} <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addFriend"><i class="fa fa-plus fa-fw"></i> Add Friend</button> {% endif %}
      <p>
        <i class="fa fa-graduation-cap fa-fw"></i> {{ user.degree }}
        <br />
        <i class="fa fa-user fa-fw"></i> {{ user.status }}
        <br />
        <i class="fa fa-envelope fa-fw"></i> {{ user.email }}
        <br />

      </p>
      <!-- Modal -->
      <div class="modal fade" id="addFriend" tabindex="-1" role="dialog" aria-labelledby="addFriendLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addFriendLabel">Add a friend!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/sendFriendRequest" id="form-todo" class="form-todo" method="POST">
              <input type="hidden" name="userId" value="{{ user.user_id }}">
              <div class="modal-body">
                <div class="form-group">
                  <label for="message" class="form-control-label">Message </label>
                  <textarea name="message" type="textarea" id="message" class="form-control" placeholder="Send a quick message!" autofocus required></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="create" class="btn btn-primary" type="submit">Send request</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th width="5%">Time</th>
      <th width="19%">Monday</th>
      <th width="19%">Tuesday</th>
      <th width="19%">Wednesday</th>
      <th width="19%">Thursday</th>
      <th width="19%">Friday</th>
    </tr>
  </thead>
  <tbody>
    {% for time in range(9, 21) %}
    <tr>
      <th height="80px" scope="row">{{time}}:00</th>
      {% for day in range(0, 5) %}
        {% for course in courses %}
          {% if course.day == day and course.time == time %}
            <td class="subject text-center align-middle" rowspan="{{ course.length }}">
              {% if current_user == user.username %}<a href="/class/delete/{{ course.id }}"><i class="fa fa-times"></i></a>{% endif %}
              {{ course.subject }}<br />{{ course.activity }}
            </td>
          {% endif %}
        {% endfor %}

        {% if {"day": day, "time": time} not in busy_times %}
          <td rowspan="1"></td>
        {% endif %}

      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>



{% if current_user == user.username %}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addClass">
  Add class
</button>

<div class="modal fade" id="addClass" tabindex="-1" role="dialog" aria-labelledby="addClassLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addClassLabel">Add class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/class/create" id="form-todo" class="form-todo" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="course" class="form-control-label">Course</label>
            <input name="course" type="text" id="course" class="form-control" placeholder="Course" autofocus required>
          </div>
          <div class="form-group">
            <label for="activity" class="form-control-label">Activity</label>
            <input name="activity" type="text" id="activity" class="form-control" placeholder="Activity" autofocus required>
          </div>
          <div class="form-group">
            <label for="day" class="form-control-label">Day</label>
            <select name="day" id="day" class="form-control">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
            </select>
          </div>
          <div class="form-group">
            <label for="time" class="form-control-label">Time</label>
            <select name="time" id="time" class="form-control">
              {% for time in range(9, 21) %}
              <option>{{ time }}:00</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="length" class="form-control-label">Length</label>
            <select name="length" id="length" class="form-control">
              {% for length in range(1, 6) %}
              <option>{{ length }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="create" class="btn btn-primary" type="submit">Add class</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endif %}




{% endblock %}
